@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;500;800&family=News+Cycle:wght@700&family=Orbitron:wght@500&family=Oxanium:wght@300;500&family=Playfair+Display&display=swap');

.nav-main {
	z-index: 1000;
}

.loader {
	width: 48px;
	height: 48px;
	margin: 2rem auto 0;
	border-radius: 50%;
	position: relative;
	transform: rotate(45deg);
	box-sizing: border-box;
}

.loader::before {
	content: '';
	position: absolute;
	box-sizing: border-box;
	inset: -10px;
	border-radius: 50%;
	border: 10px solid #c05700;
	animation: prixClipFix 2s infinite linear;
}

@keyframes prixClipFix {
	0% {
		clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
	}
	25% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
	}
	50% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
	}
	75% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
	}
	100% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
	}
}

.dropdown-wrapper::before {
	content: '';
	position: absolute;
	top: 2px;
	left: -8px;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #d1d5dc;
}

@media (min-width: 768px) {
	.dropdown-wrapper::before {
		top: 2px;
		left: 20px;
	}
}
